<% noindex %>
<h1><%= title "Log In" %></h1>
<%= form_with url: login_path, class: "mb-3" do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, required: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, required: true, class: "form-control" %>
  </div>
  <%= f.submit "Log In", class: "btn btn-success" %>
<% end %>
