<h1>Identification#index</h1>
<section>
  <%= form_with url: new_admin_identification_path, method: :get do |f| %>
    <%= f.label "Search by title:" %>
    <%= f.search_field :query %>
  <% end %>
  <table>
    <thead>
      <th>Title</th>
      <th>Count</th>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= link_to listing.lower_title, new_admin_identification_path(title: listing.lower_title) %></td>
          <td><%= listing.listings_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
