<h1>Identification#index</h1>
<section>
  <%= form_with url: new_admin_identification_path, method: :get, html: { class: "mb-4" }  do |f| %>
    <%= f.label "Search by title:", class: "form-label" %>
    <%= f.search_field :query, class: "form-control form-control-lg" %>
  <% end %>
  <%= render 'pagy/info', pagy: @pagy %>
  <table class="table table-hover">
    <thead>
      <th scope="col">Title</th>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= listing.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'pagy/nav', pagy: @pagy %>
</section>
