<h1>Identification#new</h1>

<section>
  <hgroup>
    <h2>Listings</h2>
    <% if params[:query].present? %>
      <p>Search results for: "<%= params[:query]%>"</p>
    <% elsif params[:title].present? %>
      <p>Search results for title: "<%= params[:title]%>"</p>
    <% else %>
      <p>No search query provided.</p>
    <% end %>
  </hgroup>

  <table>
    <thead>
      <th>ID</th>
      <th>Title</th>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= listing.id %></td>
          <td><%= link_to listing.title, admin_listing_path(listing) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <%= button_to "Not a Boardgame",
  toggle_is_boardgame_admin_identifications_path,
  class:"outline",
  params: { listing_ids: @listings.map(&:id) }
  %>
</section>

<section>
  <h2>BGG Search</h2>
  <%= form_with url: new_admin_identification_path, method: :get do |f| %>
    <%= hidden_field_tag 'title', params[:title] %>
    <%= f.search_field :bgg_query, value: params[:bgg_query] %>
  <% end %>
  <% if @results.present? %>
    <table>
      <thead>
        <th>BGG ID</th>
        <th>Year</th>
        <th>Title</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><%= result.id %></td>
            <td><%= result.year %></td>
            <td><%= result.name %></td>
            <td>
              <%= form_with url: admin_identifications_path  do |f| %>
                <% @listings.each do |listing| %>
                  <%= hidden_field_tag 'listing_ids[]', listing.id %>
                <% end %>
                <%= hidden_field_tag 'bgg_id', result.id %>
                <%= f.submit 'Identify', class:"secondary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No results found.</p>
  <% end %>
</section>