<h1>Identification#show</h1>

<section>
  <hgroup>
    <h2>Listings</h2>
    <p>With title: <i><%= params[:id]%></i></p>
  </hgroup>

  <table>
    <thead>
      <th>title</th>
      <th>count</th>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= listing.id %></td>
          <td><%= link_to listing.title, admin_listing_path(listing) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <%= form_with url: admin_identification_path(params[:id]), method: :get do |f| %>
    <%= f.search_field :query, value: params[:query] %>
  <% end %>
  <table>
    <thead>
      <th>BGG ID</th>
      <th>Year</th>
      <th>Title</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.id %></td>
          <td><%= result.year %></td>
          <!-- TODO: Add BGG link to name, for verification -->
          <td><%= result.name %></td>
          <td>
            <%= form_with url: admin_identifications_path  do |f| %>
              <% @listings.each do |listing| %>
                <%= hidden_field_tag 'listing_ids[]', listing.id %>
              <% end %>
              <%= hidden_field_tag 'bgg_id', result.id %>
              <%= f.submit 'Identify', class:"secondary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>