<h1>Listings</h1>

<table>
  <thead>
    <th>id</th>
    <th>title</th>
    <th>boardgame</th>
    <th>store</th>
    <th>link</th>
    <th>ident. failure</th>
    <th>is boardgame</th>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr id=<%= dom_id listing %>>
        <td><%= listing.id%></td>
        <td><%= link_to truncate(listing.title, length: 40, separator: ' '), admin_listing_path(listing) %></td>
        <td>
          <% if listing.boardgame %>
            <%= link_to truncate(listing.boardgame.title, length: 40, separator: ' '), admin_boardgame_path(listing.boardgame) %>
            
          <% else %>
            MISSING
          <% end %>
        </td>
        <td><%= link_to listing.store.name, admin_store_path(listing.store) %></td>
        <td>
          <%= link_to "external link", listing.url %>
        </td>
        <td><%= listing.failed_identification %></td>
        <td><%= listing.is_boardgame %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>