<% noindex %> 

<h1><%= title t(".title") %></h1>

<section>
  <table>
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.store.name") %></th>
        <th><%= t("activerecord.attributes.store.url") %></th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= link_to t(".external_link"), store.url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <%= link_to t("pages.home.cards.suggest_store.button"), new_store_suggestion_path %>
</section>