<h1>Contact Messages</h1>
<section>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Contactable</th>
        <th scope="col">Body</th>
        <th scope="col">Read</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contact_messages.each do |message| %>
        <% presenter = ContactMessagePresenter.new(message, self) %>
        <tr id=<%= dom_id message %>>
          <th scope="row"><%= message.id %></th>
          <td><%= presenter.name %></td>
          <td><%= presenter.email %></td>
          <td><%= presenter.subject %></td>
          <td>
            <% if contactable = message.contactable %>
              <%= link_to contactable.title, contactable%>
            <% end %>
          </td>
          <td><%= presenter.body %></td>
          <td><%= presenter.read? %></td>
          <td>
            <%= link_to "View", admin_contact_message_path(message), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>