<h1>Contact Messages</h1>
<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">User Agent</th>
        <th scope="col">Subject</th>
        <th scope="col">Body</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contact_messages.each do |message| %>
        <% presenter = ContactMessagePresenter.new(message, self) %>
        <tr id=<%= dom_id message %>>
          <th scope="row"><%= message.id %></th>
          <td><%= presenter.name %></td>
          <td><%= presenter.email %></td>
          <td><%= truncate(presenter.user_agent) %></td>
          <td><%= presenter.subject %></td>
          <td><%= truncate(presenter.body) %></td>
          <td><%= presenter.status %></td>
          <td>
            <%= link_to "View", admin_contact_message_path(message) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>