<h1>Contact Message Details</h1>
<% presenter = ContactMessagePresenter.new(@contact_message, self) %>
<p><strong>ID:</strong> <%= @contact_message.id %></p>
<p><strong>Status:</strong> <%= presenter.status %></p>
<p><strong>Name:</strong> <%= presenter.name %></p>
<p><strong>Email:</strong> <%= presenter.email %></p>
<p><strong>Subject:</strong> <%= presenter.subject %></p>
<p><strong>Read:</strong> <%= presenter.read %></p>
<p><strong>Spam:</strong> <%= presenter.spam %></p>
<p><strong>Archived:</strong> <%= presenter.archived %></p>
<p>
  <strong>Contactable:</strong> 
  <% contactable = @contact_message.contactable %>
  <%= link_to_if contactable, contactable&.title, contactable %>
</p>
<p><strong>Body:</strong>
  <div style="white-space: pre-wrap;"><%= presenter.body %></div>
</p>
<% if @contact_message.read? %>
  <%= button_to "Mark as Unread",toggle_read_admin_contact_message_path(@contact_message),
method: :post, class: "btn btn-success", disabled: !@contact_message.read? %>
<% else %>
  <%= button_to "Mark as Read",toggle_read_admin_contact_message_path(@contact_message),
method: :post, class: "btn btn-success", disabled: @contact_message.read? %>
<% end %>
<div class="hstack gap-2">
  <%= button_to "Mark as Addressed", mark_addressed_admin_contact_message_path(@contact_message), method: :patch, class: 'btn btn-success'%>
  <%= button_to "Mark as Spam", mark_spam_admin_contact_message_path(@contact_message), method: :patch, class: 'btn btn-danger'%>
  <%= button_to "Reset Status", reset_status_admin_contact_message_path(@contact_message), method: :patch, class: 'btn btn-secondary'%>
</div>