<footer>
  <div>
    <nav>
      <ul>
        <li><%= link_to t('.home'), root_path %></li>
        <li><%= link_to t('.about'), about_path %></li>
        <li><%= link_to t('.faq'), faq_path %></li>
        <li><%= link_to t('.contact'), contact_path %></li>
      </ul>
    </nav>
    <p><%= t('.copyright_html', brand_name: t('app.name'), year: Time.now.year) %></p>
  </div>
</footer>