<nav class="navbar bg-body-tertiary flex-nowrap">
  <div class="container">
    <!-- Brand -->
    <%= link_to root_path, class: "navbar-brand m-0" do %>
      <span class="p-1 fs-4 rounded bg-light text-dark fw-bold">TE!</span>
    <% end %>
    <!-- search form -->
    <div class="row w-100">
      <div class="col-10 col-md-8 mx-auto">
        <%= form_with url: search_path, method: :get, html: { role: "search", "aria-label": t(".search_form.label") } do |f| %>
          <div class="input-group">
            <%= f.label :q, t(".search_form.label"), class: "visually-hidden" %>
            <%= f.search_field :q, placeholder: t(".search_form.placeholder"), class: "form-control rounded-start-2" %>
            <%= f.button name: nil, class: "btn btn-secondary" do %>
              <i class="bi bi-search px-1"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Toggle button for offcanvas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <span class="h2 fw-bold offcanvas-title" id="offcanvasNavbarLabel"><%= t('app.name') %></span>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column vw-50">
        <!-- Nav items -->
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <%= link_to t(".deals"), deals_path, class: "nav-link fs-4" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".board_games"), boardgames_path, class: "nav-link fs-4" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".stores"), stores_path, class: "nav-link fs-4" %>
          </li>
          <% if Current.user %>
            <li class="nav-item">
              <%= link_to "Dashboard", dashboard_path, class: "nav-link fs-4" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
