<nav class="container">
  <ul>
    <%= link_to root_url do %>
      <li><strong>Turno Extra!</strong></li>
    <% end %>
  </ul>
  <ul>
    <li>
      <%= link_to "Boardgames", boardgames_url, class: "secondary "%>
    </li>
    <% if Current.user&.admin? %>
      <li>
        <%= link_to "Uploads", uploads_url, class: "secondary "%>
      </li>
    <% end %>
    <% if Current.user %>
      <li>
        <%= form_with url: logout_path, method: :delete do |f| %>
          <%= f.submit 'logout', class:'secondary' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>