<div id="sidebar" class="container-fluid">
  <hgroup>
    <h1><%= link_to 'Dashboard', dashboard_path, class:"secondary", style: 'text-decoration: none' %></h1>
    <p><%= Current.user.email %></p>
  </hgroup>
  
  <ul>
    <li><%= link_to 'Homepage', root_path, class: "secondary" %></li>
    <li><%= link_to 'Boardgames', admin_boardgames_path, class: "secondary" %></li>
    <li><%= link_to 'Listings', admin_listings_path, class: "secondary" %></li>
    <li><%= link_to 'Stores', admin_stores_path, class: "secondary" %></li>
    <li><%= link_to 'Uploads', new_admin_upload_path, class: "secondary" %></li>
  </ul>

  <div style="flex-grow: 1"></div>

  <div><%= button_to 'logout', logout_path, method: :delete, class: "secondary", style:"justify-self:end" %></div>
</div>