<h1>Stores</h1>
<section>
  <table class="table table-hover">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Link</th>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr id=<%= dom_id store %>>
          <td><%= store.id %></td>
          <td><%= link_to store.name, admin_store_path(store)%></td>
          <td>
            <%= link_to safe_url(store.url), target: "_blank", rel: "noopener noreferrer" do %>
              External Link <i class="bi bi-box-arrow-up-right"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'pagy/nav', pagy: @pagy %>
</section>