<%= content_for :title, t(".title") %>

<h1><%= t(".title") %></h1>

<p><%= t(".instructions") %></p>

<p><i><%= t(".disclaimer") %></i></p>

<%= form_for @store_suggestion do |form| %>
  <%= form.label :url %>
  <%= form.url_field :url, required: true, placeholder: "https://example.com", pattern: "^https?://.*$"  %>
  <%= form.submit %>
<% end %>