<% noindex %>
<h1><%= title t(".title") %></h1>
<div class="mt-4">
  <p><%= t(".instructions") %></p>
  <p class="text-muted"><i><%= t(".disclaimer") %></i></p>
  <%= form_for @store_suggestion, html:{class:"my-4"} do |form| %>
    <div class="mb-3">
      <%= form.label :url, class: "form-label" %>
      <%= form.url_field :url, class: "form-control", required: true, placeholder: "https://example.com", pattern: "^https?://.*$"  %>
    </div>
    <div class="text-end">
      <%= form.submit nil, class: "btn btn-success" %>
    </div>
  <% end %>
</div>