<h1><%= title t('.title') %></h1>

<p>Turno Extra! nace como una plataforma para facilitarte la búsqueda de los mejores precios de juegos de mesa en Chile. Reunimos precios de juegos de mesa en Chile, y los mostramos en un solo lugar para que puedas comparar fácilmente.</p>

<p>Se inspira en otros agregadores de precios como:</p>
<ul>
  <li><%= link_to "solotodo.cl", "https://www.solotodo.cl" %></li>
  <li><%= link_to "knasta.cl", "https://knasta.cl" %></li>
  <li><%= link_to "ofertasshark.cl", "https://www.ofertasshark.cl" %></li>
  <li><%= link_to "muevecubos.com", "https://muevecubos.com/" %></li>
  <li><%= link_to "cazagangas.com.ar", "https://www.cazagangas.com.ar" %></li>
</ul>
