<h1 class="mb-5"><%= title t(".title") %></h1>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Qué es Turno Extra?</h2>
  <p>Turno Extra nace como una plataforma para facilitarte la búsqueda de los mejores precios de juegos de mesa en Chile. Reunimos precios de juegos de mesa en Chile, y los mostramos en un solo lugar para que puedas comparar fácilmente.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Cómo funciona Turno Extra?</h2>
  <p>Una vez al día recorremos las tiendas en línea para recopilar sus publicaciones y precios. Luego agrupamos esta información por juego de mesa para mostrar los precios actuales de cada uno.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Qué es una publicación?</h2>
  <p>Una publicación es una venta individual de un juego de mesa en el sitio web de una tienda. Incluye detalles como el nombre de la tienda, una URL y precios históricos. Un juego de mesa, en cambio, es solo el producto en sí.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Cómo deciden qué publicaciones están en oferta?</h2>
  <p>Una oferta es cualquier publicación cuyo precio actual está por debajo de su precio de referencia.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Cómo se elige un precio de referencia?</h2>
  <p>El precio de referencia es la mediana de los precios de las últimas dos semanas. Esto ayuda a filtrar valores atípicos y mostrar un precio representativo.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿De dónde obtienen los datos de los juegos de mesa?</h2>
  <p>Usamos la API de <%= link_to 'BoardGameGeek', "https://www.boardgamegeek.com/" %> para obtener información como nombres, imágenes y versiones de cada juego de mesa.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Por qué algunos juegos de mesa muestran un nombre diferente al de las tiendas?</h2>
  <p>Mostramos el nombre principal registrado en BoardGameGeek. Estamos trabajando en la mejor manera de incorporar los nombres localizados en español.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Por qué algunos juegos de mesa incluyen diferentes versiones en sus publicaciones?</h2>
  <p>BoardGameGeek agrupa muchas versiones bajo un mismo juego. Por ejemplo, para <%= link_to 'Spot It!', "https://boardgamegeek.com/boardgame/63268/spot-it/versions?pageid=1&language=2203" %>, se incluyen versiones como Dobble, Dobble XXL, Dobble Waterproof, entre otras.</p>
  <p>Estamos evaluando cómo diferenciar mejor estas versiones para ofrecer resultados más precisos.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Por qué algunos juegos de mesa no aparecen en el sitio?</h2>
  <p>Solo mostramos juegos que tuvieron al menos una publicación reciente. Si ves un juego en una tienda pero no en Turno Extra, puede ser que nuestro proceso automático no haya podido identificarlo correctamente.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Cómo deciden qué juego de mesa representa una publicación?</h2>
  <p>Intentamos identificar el juego usando el título de la publicación y la base de datos de BoardGameGeek.</p>
  <p>El proceso puede fallar por varias razones:</p>
  <ul>
    <li>El juego no existe en BoardGameGeek.</li>
    <li>El título de la publicación no coincide con ninguno registrado en BGG.</li>
    <li>El título contiene detalles adicionales (idioma, edición, año) que dificultan su reconocimiento.</li>
  </ul>
  <p>Cuando no podemos identificar una publicación, no la mostramos hasta verificarla manualmente.</p>
</article>
<article class="mb-4">
  <h2 class="fs-4 fw-bold">¿Por qué no aparece <i>&lt;nombre de tienda&gt;</i> en Turno Extra?</h2>
  <p>Integrar nuevas tiendas requiere tiempo y cuidado. Decidimos lanzar Turno Extra con una selección inicial acotada de tiendas e iremos agregando más progresivamente.</p>
  <p>¡Puedes sugerir nuevas tiendas usando el <%= link_to 'formulario de sugerencias', new_store_suggestion_path %>!</p>
</article>
<hr>
<%= link_to t('.home_link'), root_path %>
