<hgroup class="border-bottom p-3 mb-4">
  <h1 class="display-4 fw-bold"><%= t('app.name') %></h1>
  <p class="lead fw-medium"><%= t('app.slogan') %></p>
</hgroup>
<section class="my-5">
  <h2 class="fw-bold"><%= t('.best_deals') %></h2>
  <%= render partial: 'boardgames/grid', locals: { boardgames: @deals } %>
</section>
<% unless @most_viewed.empty?  %>
  <section class="my-5">
    <h2 class="fw-bold"><%= t('.most_viewed') %></h2>
    <%= render partial: 'boardgames/grid', locals: { boardgames: @most_viewed } %>
  </section>
<% end %>
<section class="my-5">
  <h2 class="fw-bold"><%= t('.top_bgg') %></h2>
  <%= render partial: 'boardgames/grid', locals: { boardgames: @top_bgg } %>
</section>
<section class="my-5">
  <h2 class="fw-bold"><%= t('.help_us_grow') %></h2>
  <div>
    <%= render partial: 'card', collection: t(".cards").values %>
  </div>
</section>