<hgroup>
  <h1 class="display-4 fw-bold"><%= t('app.name') %></h1>
  <p class="lead"><%= t('app.slogan') %></p>
</hgroup>
<section>
  <h2 class="visually-hidden"><%= t('.search_boardgames') %></h2>
  <%= render 'boardgames/search_form' %>
</section>
<section>
  <h2><%= t('.best_deals') %></h2>
  <%= render partial: 'boardgames/grid', locals: { boardgames: @deals } %>
</section>
<section>
  <h2><%= t('.help_us_grow') %></h2>
  <div>
    <%= render partial: 'card', collection: t(".cards").values %>
  </div>
</section>