<hgroup>
  <h1>Turno Extra!</h1>
  <p>Find the best prices for your next boardgame!</p>
</hgroup>

<section>
  <%= render 'boardgames/search_form' %>
</section>

<section>
  <hgroup>
  <h2>Recent Deals</h2>
  <p>Update date: <%= @reference_date.to_fs(:long) %></p>
  </hgroup>
  <div>
    <%= render partial: 'boardgames/card', collection: @deals, as: :boardgame %>
  </div>
  <%= link_to "View All Deals", deals_path %>
</section>

<section>
  <h2>Help turno extra grow!</h2>
  <div>
    <article>
      <header>
        <h3>Suggest a Store</h3>
      </header>
      <p>Which store should we add next?</p>
      <p> We want to know your favorite stores so we can keep them updated with the best deals.</p>
      <footer>
        <%= link_to "Suggest a Store", new_store_suggestion_path, role: :button %>
      </footer>
    </article>
  </div>
</section>