<hgroup class="border-bottom p-3 mb-4">
  <h1 class="display-4 fw-bold"><%= t('app.name') %></h1>
  <p class="lead fw-medium"><%= t('app.slogan') %></p>
</hgroup>
<%= render_collection(@new_deals, 'new_deals') %>
<%= render_collection(@deals, 'deals') %>
<%= render_collection(@most_viewed, 'most_viewed') %>
<%= render_collection(@top_bgg, 'top_bgg') %>
<section class="my-5">
  <h2 class="fw-bold"><%= t('.help_us_grow') %></h2>
  <div>
    <%= render partial: 'card', collection: t(".cards").values %>
  </div>
</section>