<% content_for :title, t('.title') %>

<hgroup>
  <h1><%= t('.title') %></h1>
  <%= render "shared/update_date", date: @reference_date %>
</hgroup>

<section>
  <%== pagy_info(@pagy) %>
  <div>
    <%= render partial: 'boardgames/card', collection: @boardgames, as: :boardgame %>
  </div>
  <%= render 'shared/pagination', pagy: @pagy, path_helper: ->(p) { deals_path(page: p) } %>
</section>