<h2>Store Prices Count</h2>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Store ID</th>
      <th scope="col">Store</th>
      <% @dates.sort.each do |date| %>
        <th scope="col"><%= date %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @price_hash.each do |store_id, date_counts| %>
      <tr>
        <td scope="row"><%= store_id %></td>
        <td scope="row">
          <% store_url = @store_hash[store_id].url %>
          <%= link_to safe_url(store_url), target: "_blank"  do %>
            <%= store_url %> <i class="bi bi-box-arrow-up-right"></i>
          <% end %>
        </td>
        <% mean = @count_hash[store_id][:mean] %>
        <% stdev = @count_hash[store_id][:stdev] %>
        <% @dates.sort.each do |date| %>
          <% val = date_counts.fetch(date, 0) %>
          <%
            delta = (val - mean).abs / stdev
            klass = case delta
            when 2... then 'table-danger'
            when 1...2 then 'table-warning'
            else nil
            end
          %>
          <td class=<%= klass %>>
            <%= val %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
