<h2>Store Prices Count</h2>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Store ID</th>
      <th scope="col">Store</th>
      <% @dates.each do |date| %>
        <th scope="col">
          <%= date %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @store_rows.each do |store_row| %>
    <tr>
      <td scope="row">
        <%= store_row.store_id %>
      </td>
      <td scope="row">
        <%= link_to safe_url(store_row.store_url), target: "_blank" do %>
          <%= store_row.store_url %>
          <i class="bi bi-box-arrow-up-right"></i>
        <% end %>
      </td>
      <% @dates.each do |date| %>
        <% record = store_row.cell_for(date) %>
        <td class="<%= record.class %>">
          <%= record.count %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
