<article>
  <%= link_to boardgame do %>
    <hgroup>
      <p><strong><%= boardgame.title %></strong></p>
      <p>
        <%= format_price(boardgame.best_price) %> <%= discount_tag(boardgame) %>
      </p>
    </hgroup>
    <div class="body">
      <%= image_tag boardgame.thumbnail_url || placehold_url(150),
        alt: boardgame.title,
        width: 150,
        height: 150
      %>
    </div>
  <% end %>
</article>