<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.listing.title") %></th>
      <th><%= t("activerecord.attributes.listing.price") %></th>
      <th><%= t("activerecord.attributes.listing.store") %></th>
      <% if Current.user&.admin? %>
        <th><%= "Actions" %></th>
      <% end %>
    </th>
  </tr>
</thead>
<tbody>
  <% listings.each do |listing| %>
    <tr>
      <td><%= link_to listing.title,
            tracking_url(listing.url),
            target: "_blank",
            rel: "noopener",
            **umami_event_attributes("outbound_boardgames_show_click", {
              store_id: listing.store_id,
              listing_id: listing.id,
              boardgame_id: @boardgame.id
            }) %></td>
      <td><%= format_price(listing.best_price) %></td>
      <td><%= listing.store_name %></td>
      <% if Current.user&.admin? %>
        <td>
          <%= link_to 'View on Dashboard',
            admin_listing_path(listing),
            method: :get,
            role: :button %>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>