<h1>Boardgames</h1>

<section>
  <%= render 'boardgames/search_form' %>
  
  <% if params[:q].present? %>
    <p>Search results for: <%= params[:q] %> </p>
  <% end %>
</section>

<section>
  <%== pagy_info(@pagy) %>
  <div>
    <% @boardgames.each_slice(3) do |batch| %>
      <div class="grid">
        <% batch.each do |boardgame| %>
            <%= render 'card', boardgame: %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%== pagy_nav(@pagy) %>
</section>