<h1>Boardgames</h1>

<section>
  <%= form_with url: "/boardgames", method: :get do |form| %>
    <%= form.label :q, "Search" %>
    <%= fieldset_tag nil, "role" => "group" do %>
      <%= form.text_field :q, placeholder: "Board Game title..." %>
      <%= form.submit "Search" %>
    <% end %>
  <% end %>
</section>

<section>
  <div>
  <% @boardgames.each do |boardgame| %>
    <%= link_to boardgame do %>
      <article>
          <hgroup>
            <p><%= boardgame.title %></p>
            <p><%= format_price(boardgame.latest_price) %></p>
          </hgroup>
      </article>
    <% end %>
  <% end %>
  </div>
</section>