<% set_meta_tags canonical: boardgame_url(@boardgame) %>
<%= render 'opengraph', boardgame: @boardgame %>
<h1> <%= title @boardgame.title %> </h1>
<section>
  <h2><%= t('.about')  %> </h2>
  <div class="grid">
    <div>
      <%= image_tag @boardgame.image_url || placehold_url(300),
            size: 300,
            alt: @boardgame.title
          %>
    </div>
    <ul>
      <li><%= t('activerecord.attributes.boardgame.rank') %>: <%= @boardgame.rank.zero? ? "Sin ranking" : @boardgame.rank  %></li>
      <li><%= link_to t('activerecord.attributes.boardgame.bgg_url'), safe_url(@boardgame.bgg_url), target: "_blank", rel: "noopener" %></li>
      <li><%= t('activerecord.attributes.boardgame.reference_price') %>: <%= format_price(@boardgame.reference_price) %></li>
    </li>
  </ul>
</div>
</section>
<section>
  <h2><%= t("activerecord.models.listing.other") %> </h2>
  <%= render "listing_table", listings: @listings  %>
</section>
<section>
  <h2><%= t(".historic_prices") %></h2>
  <%= render 'price_chart', chart_data: @chart_data %>
</section>
<section>
  <h2><%= t(".actions") %></h2>
  <%= link_to t(".report_error"), new_boardgame_error_path(@boardgame), role: :button, class: "outline secondary", style:"width:100%;" %>
</section>
<% if Current.user&.admin? %>
  <section>
    <h2>Admin</h2>
    <%= link_to 'View on Dashboard', admin_boardgame_path(@boardgame), role: :button, class: "outline secondary", style:"width:100%;" %>
  </section>
<% end %>
