<h1> <%= @boardgame.title %> </h1>

<section>
  <h2>About</h2>
    <div class="grid">
      <figure>
        <%= placehold_img 200 %>
      </figure>
      <ul>
        <li>BGG Rank: <%= @boardgame.rank %></li>
        <li><%= link_to "BGG Link", @boardgame.bgg_url %></li>
      </ul>
    </div>
</section>

<section>
<h2>Listings</h2>
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>price</th>
      <th>store</th>
    </tr>
  </thead>
  <tbody>
    <% @boardgame.listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing.url %></td>
        <td><%= format_price(listing.latest_price) %></td>
        <td><%= listing.store.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<section>
  <h2>Historic Prices</h2>
  <!-- TODO: Make background color match the Light/Dark theme -->
  <%= line_chart @chart_data, legend: true %>
</section>
