<% content_for :title, @boardgame.title %>

<h1> <%= @boardgame.title %> </h1>

<section>
  <h2>About</h2>
    <div class="grid">
      <div>
        <%= image_tag @boardgame.image_url || placehold_url(300),
            size: 300,
            alt: @boardgame.title
          %>
      </div>
      <ul>
        <li>BGG Rank: <%= @boardgame.rank %></li>
        <li><%= link_to "BGG Link", @boardgame.bgg_url %></li>
      </ul>
    </div>
</section>

<section>
  <h2>Listings</h2>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>price</th>
        <th>store</th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= link_to listing.title, listing.url %></td>
          <td><%= format_price(listing.best_price) %></td>
          <td><%= listing.store_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <h2>Historic Prices</h2>
  <!-- TODO: Make background color match the Light/Dark theme -->
  <%= line_chart @chart_data,
  legend: 'top',
  curve: false, loading: "Loading...",
  library: {
    aggregationTarget:'category',
    interpolateNulls: 0,
    vAxis:{
      format: :currency,
    },
    legend:{
      maxLines: 5,
    },
    hAxis:{
      format: 'd/M/yy',
    }
  } %>
</section>
