<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-bs-theme="dark">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% noindex %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <%= render 'navbar' %>
    </header>
    <div class="container-fluid d-flex flex-column flex-grow-1">
      <div class="row flex-grow-1">
        <%= render "sidebar" %>
        <main class="col container-fluid">
          <%= render 'shared/flash' %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
